html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="main.pcss")
        script(src="./main.js")
        title KC Taps
    body(class="bg-gray-100 text-gray-900 font-book text-lg p-6")
        .max-w-lg.mx-auto
            block content